/*
Theme Name: Homevillas Real Estate Child
Theme URI: http://www.chimpstudio.co.uk/
Template: homevillas-real-estate
Author: Chimp Studio
Author URI: https://themeforest.net/user/chimpstudio
Description: Homevillas Real Estate is complete solution for property WordPress theme, not only the front end but back end of theme provide complete property management system where user can set a complete online property marketplace for users and members, offering them their separate profile page, dashboards and accepting commission directly via default payment gateways of woocommerce.
Tags: two-columns,left-sidebar,custom-background,custom-colors,custom-header,custom-menu,editor-style,featured-images,microformats,post-formats,rtl-language-support,sticky-post,threaded-comments,translation-ready
Version: 1.8.1490967369
Updated: 2018-02-27 13:36:09

*/
@font-face {
    font-family: 'latoregular';
    src: url('../homevillas-real-estate/fonts/lato-regular-webfont.eot');
    src: url('../homevillas-real-estate/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/lato-regular-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latomedium';
    src: url('../homevillas-real-estate/fonts/lato-medium-webfont.eot');
    src: url('../homevillas-real-estate/fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/lato-medium-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/lato-medium-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latosemibold';
    src: url('../homevillas-real-estate/fonts/lato-semibold-webfont.eot');
    src: url('../homevillas-real-estate/fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/lato-semibold-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/lato-semibold-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('../homevillas-real-estate/fonts/lato-italic-webfont.eot');
    src: url('../homevillas-real-estate/fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/lato-italic-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/lato-italic-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../homevillas-real-estate/fonts/lato-bold-webfont.eot');
    src: url('../homevillas-real-estate/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/lato-bold-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/lato-bold-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cabinmedium';
    src: url('../homevillas-real-estate/fonts/cabin-medium-webfont.eot');
    src: url('../homevillas-real-estate/fonts/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../homevillas-real-estate/fonts/cabin-medium-webfont.woff2') format('woff2'),
    url('../homevillas-real-estate/fonts/cabin-medium-webfont.woff') format('woff'),
    url('../homevillas-real-estate/fonts/cabin-medium-webfont.svg#cabinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.home #newdev-section.page-section {
    background-image: linear-gradient(to top, rgba(253, 253, 253, 0), #f7f7f7 19%);
    background: no-repeat -moz-linear-gradient(to top, rgba(253, 253, 253, 0), #f7f7f7 19%);
    /*background: no-repeat -moz-linear-gradient(to top, rgba(253, 253, 253, 0), #f7f7f7 19%);*/
    /*background-position-x: 0%;*/
    /*background-position-y: 0%;*/
    /*background-repeat: no-repeat;*/
    /*background-image: linear-gradient(to top, rgba(253, 253, 253, 0), rgb(247, 247, 247) 19%);*/
    /*background-size: auto;*/
    /*background-image: linear-gradient(to top, #fdfdfd, #f7f7f7 50%);*/
    /*background-size: auto 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
}
.home #testimonials-section {
    background-image: linear-gradient(to top, rgba(253, 253, 253, 0), #f7f7f7 19%);
    background: no-repeat -moz-linear-gradient(to top, rgba(253, 253, 253, 0), #f7f7f7 19%);
}
/*fancy-v5 styles*/
.element-title h2 {
    color: #40485e !important;
}
.element-title p {
    color: #404040;
    font-size: 14px;
    font-weight: normal !important;
    letter-spacing: 0.41px;
    font-family: 'latoregular' !important;
}
.main-search .select-location {
    display: block !important;
}
.main-search.fancy.v2 .select-location .select-popup {
    top: 18px !important;
    margin: 0 !important;
    padding: 8px 10px 3px 20px;
    width: 100% !important;
}
.main-search.v2 .chosen-container {
    margin-top: 0;
}
.home .main-search.fancy.v2 .nav-tabs {
    /* left: 20%; */
}
.main-search.fancy.v2 .tab-content {
    padding: 0px ;
    background-color: transparent !important;
    border-radius: 3px;
}
.main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .search-default-fields-inner {
    background-color: #fff;
    padding: 0;
}
.main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person {
    margin-bottom: 0;
    margin-top: 20px;
}
.main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-min.top, .main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-max.top {
    display: block !important;
    opacity: 1;
}
.main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-min.top .tooltip-inner, .main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-max.top .tooltip-inner {
    padding: 10px 8px;
    background-color: transparent;
    color: #eb222a;
    font-size: 13px;
    font-family: 'latoregular';
}
.main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-min.top .tooltip-arrow, .main-search.fancy.v2 .tab-content .tab-pane .search-default-fields .field-holder.field-range .price-per-person .slider .tooltip-max.top .tooltip-arrow {
    display: none;
    background-color: transparent;
}

.main-search .search-input, .main-search .select-dropdown {
    border-left: solid 0.3px #eb222a7d;
    padding: 9px 14px !important;
}
.main-search .search-input input {
    padding-left: 15px !important;
}
.main-search.fancy.v2 .wp-rem-radius-location {
    border-left: none !important;
}
.main-search .nav-tabs li {
    text-align: center;
    margin-bottom: 0;
}
.main-search .nav-tabs li a {
    font-family: 'latomedium' !important;
    padding: 20px 40px !important;
    font-size: 15px !important;
    line-height: 15px;
    font-weight: normal !important;
}
.main-search .nav-tabs li.list1 {
    background-color: #202533 !important;
}
.main-search .nav-tabs li.list2 {
    background-color: #30374b !important;
}
.main-search .nav-tabs li.list3 {
    background-color: #3c435a !important;
}
.main-search .nav-tabs li.list4 {
    background-color: #454d66 !important;
}
.main-search .nav-tabs li.active {
    background-color: #eb222a !important;
}
.main-search.fancy.v2 .nav-tabs {
    position: relative !important;
    top: 20px;
}
.main-search .select-dropdown.property-type.checkbox {
    padding: 11px 14px;
    margin-left: 3px;
    border: none;
}
.property-type.checkbox input[type="radio"]:checked + label {
    border: solid 0.5px #8f262b !important;
    border-color: #8f262b !important;
    background-color: #eb222a !important;
}
.main-search .property-type.checkbox li:last-child label, .main-search .property-type.checkbox li:first-child label {
    border: solid 0.5px #bcb9b9 !important;
    border-color: #bcb9b9 !important;
    background-color: #f2f2f2 !important;
    color: #9f9f9f !important;
}
.main-search.fancy.v2 .search-default-fields .property-type.checkbox label {
    padding: 10px;
    min-width: 90px;
}
.main-search.fancy.v2 .search-default-fields .search-btn {
    width: 15.2% !important;
    padding-right: 0;
}
.main-search.fancy.v2 .search-default-fields input[type="submit"] {
    width: 64px !important;
    height: 64px !important;
    padding: 24px !important;
    min-width: 100px !important;
    border-radius: 0 3px 3px 0 !important;
}
.main-search .property_currency_type-fields.select-dropdown {
    min-width: 100px !important;
    width: 10% !important;
}
.main-search .field-holder.has-icon .chosen-container-single .chosen-single {
    padding-left: 15px !important;
}
.modal-backdrop {
    display: contents;
}
/*advanced search modal*/
.main-search.fancy.v2 .modal .modal-content {
    background-color: #252a37;
}
.main-search.fancy.v2 .modal .modal-dialog {
    width: 100%;
    height: auto;
    top: 25%;
    margin: 0;
}
.main-search.fancy.v2 .modal .modal-dialog .ad-search-modal-close {
    color: #fff;
    top: 0;
    right: 0;
    padding: 42px 30px 0 0;
    background-color: transparent;
    font-family: 'latosemibold';
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0;
    width: auto;
    height: auto;
    margin-top: 0;
    display: flex;
    text-shadow: none;
}
.main-search.fancy.v2 .modal .modal-dialog .ad-search-modal-close span.close-icon {
    border: 1px solid #fff;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    padding: 5px;
    margin-left: 20px;
    margin-top: -5px;
}
.main-search.fancy.v2 .modal .modal-content {
    padding: 30px 0;
}
.main-search.fancy.v2 .modal .modal-content .modal-header {
    border-bottom: none;
    padding: 0px 30px;
}
.main-search.fancy.v2 .modal {
    padding-right: 0 !important;
}
.main-search.fancy.v2 .modal .modal-content .modal-body .nav-tabs {
    left: 32%;
}
.main-search.fancy.v2 .modal .modal-content .modal-body .tab-pane {
    margin: 0 auto;
    width: 85%;
}
.main-search.fancy.v2 .modal .modal-content .modal-body .tab-content {
    background-color: #fff !important;
}
.main-search.fancy.v2 .slider-handle {
    background-image: none;
    width: 18px;
    height: 18px;
    border: solid 2px #ffffff;
    background-color: #3c435a !important;
    border-radius: 10px;
}
.main-search .field-holder.field-range .price-per-person .slider-handle:before, .main-search .field-holder.field-range .price-per-person .slider-handle:after {
    display: none;
}
.main-search.fancy.v2 .slider.slider-horizontal {
    top: 20px;
}
.main-search.fancy.v2 .slider-track {
    background-image: linear-gradient(to bottom, #6d1014 0%, #eb222a 100%);
}
.main-search.fancy.v2 .slider-selection {
    background-image: linear-gradient(to bottom, #eb222a 0%, #eb222a 100%);
}
.main-search.fancy.v2 .search-btn .input-button-loader {
    width: 100px;
    height: auto;
    background-color: #eb222a;
    float: right;
}
.main-search.fancy.v2 .search-default-fields .property-category-fields.select-dropdown {
    width: 25%;
}
.main-search.fancy.v2 .search-default-fields .field-holder.price-range-field label {
    font-size: 12px;
    font-weight: 500;
    color: #555;
    display: inline;
    top: 20px;
}
.main-search.fancy.v2 .search-default-fields .field-holder.price-range-field {
    width: 30%;
}
.main-search.fancy.v2 .search-default-fields .field-holder.price-range-field .slider-horizontal {
    float: right;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background-image: none !important;
}
.home .swiper-button-next i, .home .swiper-button-prev i, .owl-next, .owl-prev, .wpmslider-prev, .wpmslider-next, #showcase-prop-bg .swiper-button-next i, #showcase-prop-bg .swiper-button-prev i {
    width: 46px !important;
    height: 46px !important;
    background-color: #fff;
    border-radius: 50%;
    font-size: 26px !important;
    line-height: 46px !important;
    color: #000 !important;
    border: solid 0.3px #979797 !important;
    text-align: center;
}
.home .swiper-button-next:hover i, .home .swiper-button-prev:hover i,  .owl-next:hover, .owl-prev:hover, .wpmslider-next:hover, .wpmslider-prev:hover, #showcase-prop-bg .swiper-button-next:hover i, #showcase-prop-bg .swiper-button-prev:hover i {
    background-color: #eb222a !important;
    color: #fff !important;
    border: solid 0.3px #eb222a !important;
}
.home .swiper-button-next:hover, .home .swiper-button-prev:hover, #showcase-prop-bg .swiper-button-next:hover, #showcase-prop-bg .swiper-button-prev:hover {
    background-color: #eb222a !important;
    color: #fff !important;
    border-color: #eb222a !important;
}
.home .swiper-button-next i, .home .swiper-button-prev i, #showcase-prop-bg .swiper-button-next i, #showcase-prop-bg .swiper-button-prev i {
    display: inline-block;
}
.home .swiper-button-next, .owl-prev, #showcase-prop-bg .swiper-button-next {
    right: 7.8% !important;
    top: 10px !important;
    margin-right: -3px;
    background-image: none;
    width: auto;
    height: auto;
}
.home .swiper-button-next, #showcase-prop-bg .swiper-button-next {
    right: 0 !important;
    top: 50% !important;
    margin-right: 0;
}
@media screen and (max-width: 900px) {

}
.home .swiper-button-next i:before, #showcase-prop-bg .swiper-button-next i:before {
    margin-right: -3px;
}
.home .swiper-button-prev i:before, #showcase-prop-bg .swiper-button-prev i:before {
    margin-left: -3px;
}
.owl-prev {
    right: 4% !important;
}
@media screen and (min-width: 900px) and (max-width: 1280px) {
    .owl-prev {
        right: 6% !important;
    }
}
@media screen and (max-width: 900px) {
    .owl-prev {
        right: 15% !important;
    }
}
.home .swiper-button-prev, .owl-next, #showcase-prop-bg .swiper-button-prev {
    left: auto !important;
    right: 13.3% !important;
    top: 10px !important;
    margin-left: -3px;
    background-image: none;
    width: auto;
    height: auto;
}
.home .swiper-button-next, #showcase-prop-bg .swiper-button-next {
    margin-top: -50px !important;
    background-color: transparent !important;
}
.home .swiper-button-prev, #showcase-prop-bg .swiper-button-prev {
    right: 7.8% !important;
    top: 50% !important;
    margin-left: 0;
    margin-top: -50px !important;
    background-color: transparent !important;
}
#showcase-prop-bg .swiper-button-prev {
    right: 9.8% !important;
}
@media screen and (max-width: 1200px) {
    .home .swiper-button-prev, #showcase-prop-bg .swiper-button-prev {
        right: 10% !important;
    }
}
@media screen and (max-width: 600px) {
    .home .swiper-button-prev, #showcase-prop-bg .swiper-button-prev {
        right: 16% !important;
    }
    .home .swiper-button-prev, .home .swiper-button-next, #showcase-prop-bg .swiper-button-prev, #showcase-prop-bg .swiper-button-next {
        margin-top: -5px;
    }
}
.owl-next {
    right: -1% !important;
}
.sa_owl_theme .owl-nav button {
    margin-top: -70px !important;
}
.wpmslider-next {
    right: 0 !important;
    margin: auto 0 !important;
}
.wpmslider-prev {
    left: 0 !important;
    margin: auto 0 !important;
}
.hesperiden.tparrows.tp-rightarrow {
    font-weight: normal;
    transform: matrix(1, 0, 0, 1, -188, 0) !important;

}
.hesperiden.tparrows.tp-leftarrow {
    font-weight: normal;
    transform: matrix(1, 0, 0, 1, -272, 0) !important;
}
.hesperiden.tparrows::before, .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .wpmslider-prev, .wpmslider-next {
    font-family: 'icomoon' !important;
    font-size: 26px !important;
    font-weight: normal !important;
}
.hesperiden.tparrows.tp-rightarrow::before, .owl-carousel .owl-nav button.owl-next:before, .wpmslider-next:before {
    content: "\f105" !important;
}
.hesperiden.tparrows.tp-leftarrow::before, .owl-carousel .owl-nav button.owl-prev:before, .wpmslider-prev:before {
    content: "\f104" !important;
}
.element-title h2 {
    margin-bottom: 45px;
}
.property-grid .featured, .property-medium .featured, .property-grid .open-house-label, .property-medium .open-house-label {
    background-color: #eb222a !important;
    color: #fff !important;
    font-size: 12px !important;
    letter-spacing: 0.35px !important;
    text-transform: capitalize !important;
    font-family: 'latoregular' !important;
}
.property-grid .property-price {
    color: #000000 !important;
    font-family: 'latosemibold' !important;
    font-size: 16px !important;
    font-weight: normal !important;
}
.property-grid .post-title h4 a, .property-grid.modern .post-title a {
    font-size: 15px !important;
    font-family: 'latosemibold' !important;
    color: #000 !important;
    letter-spacing: 0.47px !important;
}
.home .property-grid .property-location i.icon-location-pin2 {
    display: none;
    margin-right: 0;
}
.home .property-grid .property-location li span {
    font-family: 'latoregular' !important;
    font-weight: normal;
    font-size: 14px;
    color: #8e8e8e;
    letter-spacing: 0;
}
.home .left-sec {
    left: 0px;
    width: 50%;
    float: left;
}
.service-section2 {
    /*margin-top: 105px;*/
    display: inline-block;
    width: 100%;
}
.service-section3 {
    /*margin-top: 105px;*/
    display: inline-block;
    width: 100%;
}
.home .right-sec {
    right: 0px;
    width: 50%;
    float: right;
}

.home .left-sec .left-text-content {
    background-color: #fff;
    padding: 70px;
    text-align: left;
    width: 65%;
    float: right;
    margin-right: -5%;
    z-index: 10;
    position: relative;
    margin-top: 25%;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .home .left-sec .left-text-content {
        width: 85%;
        padding: 50px;
        margin-top: 12%;
    }
}
@media screen and (max-width: 768px) {
    .home .left-sec .left-text-content {
        margin-top: 0;
    }
}
.home .right-sec .left-text-content {
    background-color: #fff;
    padding: 70px;
    text-align: left;
    width: 65%;
    float: left;
    margin-left: -5%;
    z-index: 10;
    position: relative;
    margin-top: 25%;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .home .right-sec .left-text-content {
        width: 85%;
        padding: 50px;
    }
}

.service-section2 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.service-section3 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.service-section2 .right-sec .left-text-content {
    margin-top: -5%;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .service-section2 .right-sec .left-text-content {
        margin-top: -15%;
    }
}
.home .service-section3 .left-sec .left-text-content {
    margin-top: -5%;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .home .service-section3 .left-sec .left-text-content {
        margin-top: 0%;
    }
}
.service-section2 .right-sec .left-text-content2 {
    margin-top: 12% !important;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .service-section2 .right-sec .left-text-content2 {
        margin-top: -15%;
    }
}
.service-section3 .left-sec .left-text-content2 {
    margin-top: 12% !important;
}
.home .left-sec .left-text-content h3 {
    color: #40485e !important;
    font-size: 25px !important;
    letter-spacing: 0.7px !important;
    font-family: 'latomedium' !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
}
.home .service-section2 .right-sec .left-text-content h3 a, .home .service-section3 .left-sec .left-text-content h3 a {
    color: #40485e !important;
    font-size: 23px !important;
    letter-spacing: 0px !important;
    font-family: 'latosemibold' !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
}
.home .service-section2 .right-sec .left-text-content h3 a:hover, .home .service-section3 .left-sec .left-text-content h3 a:hover {
    color: #eb222a !important;
}
.home .service-section1 .left-sec .left-text-content p {
    margin-top: 40px;
    color: #404040 !important;
    font-family: 'latoregular' !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 28px !important;
    letter-spacing: 0.44px;
}
@media screen and (max-width: 992px) {
    .home .service-section1 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .home .service-section1 .left-sec, .home .service-section1 .right-sec {
        flex: 1;
        width: 100%;
    }
    .home .left-sec .left-text-content {
        padding: 40px;
        width: 100%;
        float: left;
    }
}
@media screen and (max-width: 768px) {
    .home .service-section1 {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .service-section2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .home .service-section2 .left-sec, .home .service-section2 .right-sec, .home .service-section3 .left-sec, .home .service-section3 .right-sec {
        width: 100%;
        flex: 1;
    }
    .home .service-section2 .left-sec, .home .service-section2 .left-text-content, .home .service-section3 .left-sec, .home .service-section3 .left-text-content {
        width: 100%;
        float: none;
        margin: 0;
        margin-top: 0px;
        /*margin-top: 10px;*/
    }
    .home .service-section2 .left-text-content2, .home .service-section3 .left-text-content2 {
        margin-top: 5px !important;
    }
    .service-section3 {
        display: flex;
        flex-direction: column-reverse;
    }
}
.home .service-section2 .right-sec .left-text-content p, .home .service-section3 .left-sec .left-text-content p {
    margin-top: 0px;
    color: #404040 !important;
    font-family: 'latoregular' !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 28px !important;
    letter-spacing: 0.44px;
}

.home .section-fullwidth .wp_rem_cs_editor {
    padding: 0px;
}
h2.List-Your-Property-W {
    font-family: 'latosemibold' !important;
    font-size: 23px !important;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal !important;
    letter-spacing: normal;
    color: #40485e !important;
    margin-bottom: 30px;
}
h2.List-Your-Property-W::after {
    font-family: 'icomoon' !important;
    content: "\f105" !important;
    font-size: 20px;
    color: #eb222a;
    padding: 20px;
}
p.Lorem-ipsum-dolor-si {
    font-family: 'latoregular' !important;
    font-size: 15px !important;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87 !important;
    letter-spacing: 0.44px;
    color: #404040 !important;
}
@media screen and (max-width: 992px) {
    #listwithus-box .col-md-offset-6, .col-lg-offset-6 {
        margin-left: 0 !important;
    }
}
#listwithus-box .column-content.has-bg {
    border-bottom: 1px solid #eb222a;
}
.wptww-quote.slick-slide.slick-current.slick-active {
    width: 50% !important;
}
.home .wpmslider-wrapper {
    width: 80%;
}
.strong-view.simple.controls-type-sides .testimonial-inner .testimonial-content {
    text-align: center;
    padding: 70px 80px 50px 80px;
    background-color: #fff !important;
    margin: auto 35px;
}
@media screen and (max-width: 650px) {
    .strong-view.simple.controls-type-sides .testimonial-inner .testimonial-content {
        margin: auto;
        padding: 50px;
    }
}
.strong-view .wpmslider-wrapper p {
    font-family: 'latoitalic' !important;
    font-weight: normal !important;
    font-size: 20px !important;
    line-height: 41px !important;
    letter-spacing: 0.59px;
    color: #000 !important;
}
@media screen and (max-width: 650px) {
    .strong-view .wpmslider-wrapper p {
        font-size: 16px !important;
    }
}
.home .wpmslider-viewport {
    height: auto !important;
}
.home .strong-view.simple .testimonial-inner {
    height: auto !important;
}
.testi-author {
    font-family: 'Alex Brush', cursive;
    font-size: 26px;
    text-align: center;
    color: #40485e;
    -webkit-text-stroke: 1px #40485e;
    font-weight: normal;
    margin-top: 50px;
}
.testi-location {
    font-family: 'latomedium';
    font-size: 13px;
    font-weight: normal;
    color: #40485e;
    margin-top: 10px;
}
.strong-view.pager-style-buttons .wpmslider-pager-link::before {
    color: #bdbdbd !important;
    content: "\f111" !important;
    font-size: 7px !important;
    opacity: 0.53;
}
.strong-view.pager-style-buttons .wpmslider-pager-link.active::before {
    color: #eb222a !important;
    font-size: 7px !important;
    opacity: 1;
}
/*showcase property*/
.home .property-grid.modern .post-category-list li::before {
    display: none;
}
@media screen and (min-width: 992px) {
    .swiper-wrapper {
        width: 125%;
        left: -12.5%;
    }

    .white-layer-1 {
        height: 100%;
        width: 12.5%;
        top: 0;
        right: 0;
        background-color: rgba(247, 247, 247, 0.8);
        z-index: 5;
        position: absolute;
    }

    .white-layer-2 {
        height: 100%;
        width: 12.5%;
        top: 0;
        left: 0;
        background-color: #f7f7f7;
        z-index: 5;
        position: absolute;
    }
}
@media screen and (min-width: 796px) {
    .white-layer-3 {
        height: 59%;
        background-color: #fff;
        position: absolute;
        top: 22%;
        right: 0;
        width: 92px;
    }

    .white-layer-4 {
        height: 59%;
        background-color: #fff;
        position: absolute;
        top: 22%;
        left: 0;
        width: 92px;
    }
}
@media screen and (min-width: 1655px) {
    .white-layer-3 {
        height: 59%;
        top: 22%;
    }

    .white-layer-4 {
        height: 59%;
        top: 22%;
    }
}
@media screen and (min-width: 1340px) and (max-width: 1655px) {
    .white-layer-3 {
        height: 63%;
        top: 20%;
    }

    .white-layer-4 {
        height: 63%;
        top: 20%;
    }
}
@media screen and (min-width: 1156px) and (max-width: 1340px) {
    .white-layer-3 {
        height: 65%;
        top: 19%;
    }

    .white-layer-4 {
        height: 65%;
        top: 19%;
    }
}
@media screen and (min-width: 1055px) and (max-width: 1156px) {
    .white-layer-3 {
        height: 67%;
        top: 18%;
    }

    .white-layer-4 {
        height: 67%;
        top: 18%;
    }
}
@media screen and (min-width: 971px) and (max-width: 1055px) {
    .white-layer-3 {
        height: 69%;
        top: 17%;
    }

    .white-layer-4 {
        height: 69%;
        top: 17%;
    }
}
@media screen and (min-width: 796px) and (max-width: 971px) {
    .white-layer-3 {
        height: 70%;
        top: 16%;
    }

    .white-layer-4 {
        height: 70%;
        top: 16%;
    }
}
.home .swiper-wrapper, .similar-nearby-properties .swiper-wrapper {
    height: auto;
}
.property-grid.modern.v3:hover {
    border-bottom: solid 1px #eb222a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}
.property-grid .post-title {
    margin-bottom: 0px !important;
}
.property-grid .post-title h4 {
    padding-top: 10px;
}
.property-grid.modern.v3 .text-holder {
    padding: 20px 0 0 20px !important;
    border-color: transparent !important;
}
.property-grid.modern.v3 .post-property-footer {
    padding: 50px 20px 0 20px !important;
    border-color: transparent !important;
}
.property-grid.modern.v3 .post-category-list {
    margin: 0 !important;
}
.property-grid .post-category-list li {
    color: #4a4a4a;
    font-size: 14px;
}
.property-grid .post-category-list li i {
    color: #c7c7c7;
}
/*new developmets*/
.black .sa_owl_theme .owl-item .sa_hover_container:hover .sa_hover_buttons .sa_slide_link_icon {
    background: none !important;
}
.sa_hover_container .sa_slide_link_icon {
    visibility: hidden;
    color: #fff !important;
    font-family: 'latosemibold' !important;
    font-size: 23px !important;
    font-weight: normal !important;
    letter-spacing: 0.72px;
}
.sa_hover_container:hover .sa_slide_link_icon {
    visibility: visible;
}
.sa_owl_theme .owl-item .sa_hover_container:hover .sa_hover_buttons .sa_slide_link_icon {
    width: auto !important;
    height: auto !important;
}
.sa_owl_theme .owl-item .sa_hover_container .sa_hover_buttons {
    left: 25% !important;
}
.sa_hover_container .newdev-desc {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 80% !important;
    padding: 10px;
    padding-left: 36px;
}
.sa_hover_container:hover {
    box-shadow: 2px 0 0px -2px #000, -4px 0 5px -5px #000;
}
.sa_hover_container:hover .newdev-desc {
    top: 77% !important;
    border-bottom: solid 1px #eb222a;
}
.sa_hover_container .newdev-desc h3 {
    font-family: 'latosemibold' !important;
    font-size: 23px !important;
    letter-spacing: 0.72px !important;
    color: #40485e !important;
    font-weight: normal !important;
    text-transform: none !important;
}
.sa_hover_container .newdev-desc p {
    font-family: 'latoregular' !important;
    font-size: 16px !important;
    letter-spacing: 0.5px !important;
    color: #9b9b9b !important;
    font-weight: normal !important;
}
div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_content_container .pp_left, div.pp_default .pp_content_container .pp_right, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right {
    background: none !important;
}
div.pp_default .pp_content {
    background-color: transparent !important;
}
/*Footer*/
#footer, #footer .footer-widget, #footer.modern, .copyright-sec {
    background-color: #252a37 !important;
    color: #fff;
    font-family: 'latoregular' !important;
    font-size: 15px !important;
    line-height: 28px !important;
    font-weight: normal !important;
    letter-spacing: 0.44px !important;
}
#footer .footer-widget {
    padding-bottom: 15px;
}
#footer .footer-para {
    width: 45%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
    #footer .footer-para {
        width: 100%;
        margin-left: 0px;
    }
}
@media screen and (min-width: 1200px) {
    .footer-right {
        margin-right: 25px;
        margin-left: 60px;
    }

    .footer-left {
        margin-left: 25px;
    }
}
@media screen and (max-width: 900px) {
    #footer .footer-right {
        margin-right: 0px;
        margin-left: 0px;
    }
}
.footer-right {
    margin-top: 35px;
}
#footer .footer-social-media {
    text-align: left;
    margin-top: 40px;
}
#footer .footer-social-media ul li a i {
    border-radius: 0 !important;
    background-color: #252a37;
}
#footer .footer-social-media ul li a:hover i {
    background-color: transparent;
    color: #eb222a;
}
#footer .footer-nav {
    margin-left: 10px;
}
@media screen and (max-width: 900px) {
    #footer .footer-nav {
        margin-left: 0px;
    }
}
#footer .footer-nav ul li a {
    color: #fff !important;
}
#footer .copyright-sec {
    padding-left: 32px;
    padding-bottom: 10px;
}
@media screen and (max-width: 1200px) {
    #footer .copyright-sec {
        padding-left: 0px;
    }
}
#footer .copyright-sec p {
    font-size: 13px !important;
    letter-spacing: 0 !important;
    color: #fff !important;
    text-transform: none;
}
#footer .footer-contact-title {
    font-family: 'latosemibold';
    font-size: 21px;
    line-height: 75px;
    letter-spacing: 0.48px;
}
#footer .footer-right p, #footer .footer-right a {
    font-family: 'latoregular';
    font-size: 14px !important;
    line-height: 24px !important;
    letter-spacing: 0 !important;
    color: #fff !important;
}
#footer .footer-btn {
    border: solid 1px #eb222a;
    border-radius: 0;
    font-size: 17px !important;
    font-weight: normal;
    padding: 8px 30px;
    margin-top: 25px;
}
#footer .footer-gap {
    margin-right: 30px;
}
#footer .footer-nav ul li {
    margin-right: 25px;
}
/*header*/
header#header.default {
    min-height: auto !important;
}
.edited-header {
    position: relative !important;
}
.main-header .main-nav > nav > ul > li > a, .main-header .main-nav .slicknav_menu > ul >li > a, .main-header .main-nav .slicknav_nav .slicknav_item a, .main-header .main-nav .slicknav_nav a {
    font-weight: normal !important;
}
.main-header .main-nav .slicknav_menu > ul >li > a, .main-header .main-nav .slicknav_nav .slicknav_item a, .main-header .main-nav .slicknav_nav a {
    text-transform: uppercase;
    color: #292f3d !important;
    font-family: Lato-bold !important;
}
.main-header .main-nav .slicknav_menu ul li a:hover {
    color: #eb222a !important;
}
.top-header-full {
    background-color: #3c435a;
    border-left: 15px solid #eb222a;
    padding: 5px 0;
}
.top-header-full ul {
    margin: 0;
    padding: 0;
}
.top-header-full li {
    display: inline;
    margin-right: 20px;
    padding: 0px 0;
}
.default.default-v2 .main-header .main-navigation > ul > li {
    padding: 0;
    padding-bottom: 25px !important;
}
.top-header-full li a {
    color: #fff !important;
    font-family: 'latoregular' !important;
    font-size: 12px !important;
    letter-spacing: 0 !important;
    font-weight: normal !important;
}
.rev_slider_wrapper .tp-caption {
    font-weight: normal !important;
}
.right-topheader {
    text-align: right;
}
.default.default-v2 .main-header .logo {
    padding: 15px 0 !important;
}
@media screen and (max-width: 991px) {
    .default.default-v2 .main-header .logo {
        padding: 10px 0 !important;
    }
    #header.default-v2 .main-nav ~ .contact-holder {
        top: 10px !important;
    }
}
@media screen and (max-width: 600px) {
    #header.default-v2 .main-nav ~ .contact-holder {
        top: 0px !important;
    }
}
.default.default-v2 .main-header .main-nav {
    /*padding: 30px 0;*/
    padding-top: 30px !important;
    /*width: 100% !important;*/
}
@media screen and (max-width: 991px) {
    .default.default-v2 .main-header .main-nav {
        padding-top: 15px !important;
        padding-bottom: 15px;
    }
}
    .default.default-v2 .main-header .main-nav .primary-menu>li>a {
    margin-bottom: 0 !important;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .default.default-v2 .main-header .main-nav {
        padding: 30px 0 !important;
        padding-bottom: 0 !important;
    }
    .default.default-v2 .main-header .logo {
        padding: 18px 0 !important;
    }
}
@media screen and (max-width: 768px) {
    .rev_slider_wrapper .tp-rightarrow, .rev_slider_wrapper .tp-leftarrow {
        display: none;
    }
}
.default-v2 .main-nav ~ .contact-holder {
    vertical-align: middle !important;
}
@media screen and (max-width: 450px) {
    .default.default-v2 .main-header {
        padding-bottom: 0px !important;
     }
    .default.default-v2 .main-header .logo {
        padding-top: 22px !important;
    }
    #header.default-v2 .main-nav ~ .contact-holder {
        width: auto !important;
        top: 0 !important;
        padding-top: 0 !important;
    }
    .default.default-v2 .main-header .main-nav {
        padding: 30px 0 !important;
    }
}
.user-full-name {
    font-family: 'latoregular';
    font-size: 14px;
    font-weight: normal !important;
}
@media screen and (min-width: 991px) and (max-width: 1566px) {
    .default.default-v2 .top-header-full [class*="col-md-6"] {
        width: 50% !important;
    }
}
@media screen and (max-width: 991px) {
    .default.default-v2 .top-header-full [class*="col-md-6"] {
        width: 100% !important;
    }
    .right-topheader {
        text-align: left;
    }
}
.main-header .user-dashboard-menu li > a > span.user-full-name {
    text-transform: capitalize;
}
/*mega menu styles*/
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg {
    border: none;
    border-top: 1px solid #eb222a;
    margin: 0;
    padding: 36px 0px 0px 36px;
    width: 100%;
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg li.mega-menu-categories {
    /*border-right: 1px solid #eee;*/
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg li.mega-menu-categories:last-child {
    /*border-right: none;*/
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg li.mega-menu-categories .mega-menu-title span {
    font-family: 'latobold' !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: normal !important;
    letter-spacing: 0 !important;
    color: #292f3d !important;
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg li.mega-menu-categories .mega-menu-title span:after {
    border-bottom: solid 1px #eb222a;
    width: 10%;
    display: block;
    content: '';
    position: inherit;
    padding-top: 6px;
}
@media screen and (min-width: 991px) {
    .title-hide {
        visibility: hidden;
    }
    .title-hide .sub {
        visibility: visible;
    }
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg li.mega-menu-categories ul li a {
    font-family: 'latomedium' !important;
    font-size: 16px !important;
    color: #292f3d !important;
    font-weight: normal !important;
    margin: 5px 0 5px 0;
    padding: 18px;
    display: inline-block;
    border: 1px solid transparent;
}
#header .main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg > li ul li:hover a {
    background-color: transparent !important;
    color: #eb222a !important;
    border: 1px solid #ff1515;

}
#header .main-header .main-navigation .menu-description .sub {
    margin-left: 17px;
    font-family: 'latoregular' !important;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.41px;
    color: #404040;
    font-weight: normal;
    padding-right: 45px;
}
#header .main-navigation ul li.desc-link a{
    color: #eb222a !important;
    border: none !important;
}
ul.mega-dropdown-lg .description-box {
    display: none;
}
ul.mega-dropdown-lg .menu-description .description-box {
    display: block;
}
ul.mega-dropdown-lg .menu-description .desc-link .description-box {
    display: none;
}
/*Property single page*/
.single-properties .location-price-bar {
    background-color: #454d66;
    padding: 23px 0 24px 0;
    color: #fff;
}
.single-properties .location-price-bar span.pricebar-text {
    font-family: 'latobold' !important;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: normal !important;
    margin-left: 10%;
}
.single-properties .location-price-bar span.locationbar-text {
    font-family: 'latomedium' !important;
    font-size: 18px;
    letter-spacing: 0.56px;
    font-weight: normal !important;
}
.single-properties .red-btn-group .inquire-btn {
    float: right;
}
@media screen and (max-width: 790px) {
    .single-properties .red-btn-group .inquire-btn {
        float: none;
    }
}
.single-properties .red-btn-group .inquire-btn a {
    color: #fff;
    background-color: #eb222a;
    padding: 24px 30px;
    font-family: 'latomedium' !important;
    font-size: 18px;
    font-weight: normal !important;
    letter-spacing: 0;
    border-bottom: 1px solid #da2630;
    display: block;
}
.single-properties .red-btn-group {
    position: absolute;
    margin-top: -131px;
    right: 19%;
}
@media screen and (max-width: 991px) {
    .single-properties .red-btn-group {
        position: relative;
        margin-top: 0;
        display: flex;
        margin-top: 10px;
        right: 0;
        float: none;
        width: 100%;
    }
}
.single-properties .red-btn-group a i {
    margin-left: 20px;
    float: right;
}
.single-properties .generalinformation-bar {
    background-color: #f9f9f9;
    padding: 17px 0;
    color: #40485e;
    /*margin-top: 25px;*/
}
.single-properties .generalinformation-bar ul {
    display: inline;
    border: none;
    margin-left: 10%;
}
.single-properties .generalinfo-heading {
    font-family: 'latomedium' !important;
    font-size: 21px !important;
    letter-spacing: 0;
    font-weight: normal !important;
    line-height: 21px !important;
}
.single-properties .generalinformation-bar li {
    font-family: 'latoregular' !important;
    font-family: 14px;
    color: #4a4a4a;
    letter-spacing: 0;
    font-weight: normal !important;
}
.single-properties .generalinformation-bar li i {
    color: #b4b4b4;
}
.single-properties .generalinfo-content .property-dsec p {
    font-family: 'latoregular' !important;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.44px;
    font-weight: normal !important;
    color: #404040 !important;
}
.single-properties .generalinfo-content .property-dsec {
    margin-top: 60px;
}
.single-properties .generalinfo-content #features-list .feature-title h3 {
    font-family: 'latobold' !important;
    font-size: 15px !important;
    line-height: 28px !important;
    letter-spacing: 0.44px !important;
    font-weight: normal !important;
    color: #404040 !important;
    text-transform: capitalize !important;
}
.single-properties .generalinfo-content #features-list .category-list li {
    font-family: 'latoregular' !important;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.44px;
    font-weight: normal !important;
    color: #404040 !important;
}
.single-properties .galleryinformation .generalinformation-bar {
    margin-top: 25px;
}
.single-properties .second-btn-group .compare-share-btn li {
    list-style: none;
    font-family: 'latomedium' !important;
    font-size: 18px !important;
    letter-spacing: 0;
    font-weight: normal !important;
    color: #40485e !important;
    padding: 24px 30px;
}
@media screen and (max-width: 991px) {
    .single-properties .second-btn-group .compare-share-btn li {
        padding: 24px 10px;
    }
}
.property-social-links ul.rem-social-sharing-links li {
    display: contents;
}
.property-social-links ul.rem-social-sharing-links {
    background-color: #fbfbfb !important;
    left: 0 !important;
    border: solid 0.5px #d9d9d9;
    width: 100%;
    text-align: center;
}
.property-social-links ul.rem-social-sharing-links li a {
    background-color: transparent;
    border: none !important;
    width: 25% !important;
    margin: auto;
}
.property-social-links ul.rem-social-sharing-links li i {
    color: #000 !important;
    font-size: 18px;
    vertical-align: middle;
}
.property-social-links ul.rem-social-sharing-links li a:hover i {
    color: #da2630 !important;
}
.single-properties .second-btn-group .compare-share-btn i.new-imageglobe1, .second-btn-group .compare-share-btn i.social-share-globe2 {
    margin-left: 20px;
    float: right;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}
.single-properties .second-btn-group .compare-share-btn i.new-imageglobe1 {
    background-image: url("assets/images/globe1.png");
}
.single-properties .second-btn-group .compare-share-btn i.social-share-globe2 {
    background-image: url("assets/images/globe2.png");
}
.single-properties .second-btn-group .compare-share-btn li:first-child {
    border-bottom: 1px solid #b4b4b4;
}
.single-properties .second-btn-group {
    float: right;
}
@media screen and (max-width: 991px) {
    .single-properties .second-btn-group {
        float: none;
        text-align: center;
    }
}
/*Gallery*/
.single-properties .panel-title > a {
    display: block;
}
.single-properties .collapse-txt {
    float: right;
    color: #40485e !important;
    font-size: 16px;
    letter-spacing: 0;
}
.single-properties .more-less {
    /*float: right;*/
    color: #212121;
}
.single-properties .galleryinformation {
    margin-top: 25px;
}
.single-properties .galleryinformation .panel-body img {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}
.single-properties .galleryinformation .img-counter {
    float: right;
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    position: absolute;
    display: block;
    right: 21%;
    font-family: 'latoregular';
    font-weight: normal;
    font-size: 23px;
    color: #40485e;
    text-align: center;
}
.single-properties .galleryinformation .sum-countr {
    background-color: #fff;
    padding: 8px 10px;
    margin-left: 10px;
    right: 21%;
    font-family: 'latoregular';
    font-weight: normal;
    color: #40485e;
    text-align: center;
}
/*Close to you*/
.single-properties .map-checkboxes .swiper-checkbox-next, .map-checkboxes .swiper-checkbox-prev {
    z-index: 10;
}
.single-properties .galleryinformation .widget-map-sec {
    border: none;
}
.single-properties .galleryinformation .map-checkboxes .checkbox label {
    background-color: transparent;
    width: 100%;
    height: auto;
}
.single-properties .galleryinformation .map-checkboxes .swiper-wrapper {
    width: 99.8%;
    left: 0;
    margin-bottom: 1px;
}
.single-properties .galleryinformation .map-checkboxes .show-nearby-point-label i {
    display: block;
    font-size: 22px;
    color: #000;
}
.single-properties .galleryinformation .map-checkboxes .show-nearby-point-label span {
    color: #000;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.single-properties .galleryinformation .map-checkboxes .checkbox {
    margin-bottom: 0;
    margin-top: 20px;
    border-bottom: 1px solid transparent;
}
.single-properties .galleryinformation .map-checkboxes {
    border: solid 0.5px #f02a2a;
    position: relative;
}
.single-properties .galleryinformation .map-checkboxes .checkbox:hover {
    border-bottom: 1px solid #eb222a;
}
.single-properties .galleryinformation .map-checkboxes .checkbox:hover .show-nearby-point-label i, .galleryinformation .map-checkboxes .checkbox:hover .show-nearby-point-label span {
    color: #eb222a;
}
.single-properties .galleryinformation .map-places-detail-boxes {
    border: none;
}
.single-properties .galleryinformation .map-places-detail-boxes .places-detail-box, .map-places-detail-boxes .places-found-box {
    padding: 16px;
}
.single-properties .galleryinformation .map-places-detail-boxes span, .map-places-detail-boxes span:hover{
    font-family: 'latomedium' !important;
    font-weight: normal !important;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #000;
}
.single-properties .galleryinformation .map-places-detail-boxes span.place-distance {
    font-family: 'latoregular' !important;
    font-weight: normal !important;
    font-size: 14px;
    letter-spacing: 0.44px;
    color: #9b9b9b;
}
.single-properties .galleryinformation .radius-val-dropdown li span {
    color: #40485e;
    font-size: 19px;
    letter-spacing: 0;
    font-family: 'latoregular';
    font-weight: normal !important;
}
.single-properties .galleryinformation .radius-val-dropdown li span::after {
    color: #f4f4f4;
}
.single-properties .galleryinformation .tab-pane p {
    font-family: 'Lato-Medium' !important;
    font-weight: normal !important;
    font-size: 18px;
    color: #40485e;
}
.single-properties span.collapse-span {
    display: none;
}
.single-properties .show-text-collapsed span.collapse-span {
    display: inline;
}
.single-properties .show-text-collapsed span.expand-span {
    display: none;
}
.bottom-link {
    width: 50%;
    bottom: -100%;
    border: none !important;
    margin-top: 50px !important;
}
.bottom-link a {
    bottom: -50%;
}
li.bottom-link:hover a, li.bottom-link a {
    border: none !important;
}
.bottom-link1 {
    float: left;
}
.bottom-link2 {
    float: right;
}
/*mega menu Inquire Now*/
.main-header .main-navigation .mega-dropdown-lg ul .mega-dropdown-lg-inquire {
    display: none;
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg {
    padding-top: 0;
}
.main-header .main-navigation .mega-dropdown-lg-inquire {
    position:relative;
    height: 550px;
    width: 25%;
    float: right;
    right:0;
}
.main-header .main-navigation > ul > li.mega-menu ul.mega-dropdown-lg > li {
    width: 25%;
}
.main-header .main-navigation .bg-image-inquire {
    background-image: url('assets/images/inquirebg.png');
    width:100%;
    height:100%;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-inquire .btn-inquire-btn {
    color: #fff;
    background-color: #eb222a;
    padding: 24px 30px;
    font-family: 'latosemibold' !important;
    font-size: 18px !important;
    font-weight: normal !important;
    letter-spacing: 0;
    border-bottom: 1px solid #da2630;
}
.btn-inquire-btn {
    position: absolute;
    top: 40%;
    left: 30%;
}
.main-header .main-nav .bg-image-inquire .btn-inquire-btn a i {
    color: #fff !important;
    margin-left: 28px;
    margin-right: 0;
    float: right;
    font-size: 18px;
}
.add-top-padding {
    padding-top: 36px !important;
}
.breadcrumbs-for-property {
    /*background-color: #454d66;*/
    background-color: rgba(69, 77, 102, 0.75);
    height: 43px;
    padding: 14px 0;
    color: #fff;
    font-family: 'latoregular';
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
}
@media screen and (max-width: 660px) {
    .breadcrumbs-for-property {
        height: auto;
        padding: 14px 5px;
    }
}
.breadcrumbs-for-property span a {
    color: #fff;
    font-family: 'latoregular';
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
}
.similar-nearby-properties {
    margin-top: 50px;
    padding: 80px 0 0px 0;
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.95), #f7f7f7 19%);
    background: -moz-linear-gradient(to bottom, rgba(249, 249, 249, 0.95), #f7f7f7 19%);
    background: -ms-linear-gradient(to bottom, rgba(249, 249, 249, 0.95), #f7f7f7 19%);
    background: -webkit-linear-gradient(to bottom, rgba(249, 249, 249, 0.95), #f7f7f7 19%);
}
.similar-nearby-properties a.tablinks {
    padding: 24px 35px;
    border: solid 0.3px #e8e8e8;
    background-color: #fcfcfc;
    font-family: 'latomedium';
    font-size: 21px;
    font-weight: normal;
    color: #40485e;
    letter-spacing: 0;
    display: table-cell;
}
.similar-nearby-properties a.tablinks:hover, .similar-nearby-properties a.tablinks.active {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);
    color: #eb222a;
}
.detail-nearby-properties, .detail-nearby-properties {
    background-color: transparent;
    padding: 35px 0 0;
}
.similar-nearby-properties .property-grid.modern .price-holder {
    height: auto !important;
}
.similar-nearby-properties .property-grid.modern .post-category-list li:before {
    display: none;
}

.similar-nearby-properties .swiper-button-next i, .similar-nearby-properties .swiper-button-prev i {
    width: 46px !important;
    height: 46px !important;
    background-color: #fff;
    border-radius: 50%;
    font-size: 26px !important;
    line-height: 46px !important;
    color: #000 !important;
    border: solid 0.3px #979797 !important;
    text-align: center;
}
.similar-nearby-properties .swiper-button-next:hover i, .similar-nearby-properties .swiper-button-prev:hover i {
    background-color: #eb222a !important;
    color: #fff !important;
    border: solid 0.3px #eb222a !important;
}
.similar-nearby-properties .swiper-button-next:hover, .similar-nearby-properties .swiper-button-prev:hover {
    background-color: #eb222a !important;
    color: #fff !important;
    border-color: #eb222a !important;
}
.similar-nearby-properties .swiper-button-next i, .similar-nearby-properties .swiper-button-prev i {
    display: inline-block;
}
.similar-nearby-properties .swiper-button-next {
    right: 7.8% !important;
    top: 10px !important;
    margin-right: -3px;
    background-image: none;
    width: auto;
    height: auto;
}
.similar-nearby-properties .swiper-button-next {
    right: 0 !important;
    top: 0% !important;
    margin-right: 0;
}
@media screen and (max-width: 900px) {

}
.similar-nearby-properties .swiper-button-next i:before {
    margin-right: -3px;
}
.similar-nearby-properties .swiper-button-prev i:before {
    margin-left: -3px;
}
.owl-prev {
    right: 4% !important;
}
@media screen and (min-width: 900px) and (max-width: 1280px) {
    .owl-prev {
        right: 6% !important;
    }
}
@media screen and (max-width: 900px) {
    .owl-prev {
        right: 15% !important;
    }
}
.similar-nearby-properties .swiper-button-prev {
    left: auto !important;
    right: 13.3% !important;
    top: 10px !important;
    margin-left: -3px;
    background-image: none;
    width: auto;
    height: auto;
}
.similar-nearby-properties .swiper-button-next {
    margin-top: -50px !important;
    background-color: transparent !important;
}
.similar-nearby-properties .swiper-button-prev {
    right: 7.8% !important;
    top: 0% !important;
    margin-left: 0;
    margin-top: -50px !important;
    background-color: transparent !important;
}

@media screen and (max-width: 1450px) {
    .similar-nearby-properties .swiper-button-prev {
        right: 10% !important;
    }
}
@media screen and (max-width: 1200px) {
    .similar-nearby-properties .swiper-button-prev {
        right: 12% !important;
    }
}
@media screen and (max-width: 960px) {
    .similar-nearby-properties .swiper-button-prev {
        right: 14% !important;
    }
}
@media screen and (max-width: 790px) {
    .similar-nearby-properties .swiper-button-prev {
        right: 16% !important;
    }
}
@media screen and (max-width: 600px) {
    .similar-nearby-properties .swiper-button-prev {
        right: 16% !important;
    }
    .similar-nearby-properties .swiper-button-prev, .similar-nearby-properties .swiper-button-next {
        margin-top: -5px;
    }
    .similar-nearby-properties .swiper-button-prev {
        right: 32% !important;
    }
    .similar-nearby-properties #Similar, .similar-nearby-properties #Nearby {
        padding-top: 20px;
    }
}
.similar-nearby-properties .property-grid-slider {
    margin: 0 0px 0 !important;
    background-color: transparent;
}
.detail-similar-properties, .detail-nearby-properties {
    margin-top: 20px;
    padding: 0 !important;
    background-color: transparent !important;
}
.similar-nearby-properties .swiper-slide {
    height: auto !important;
}.similar-nearby-properties .detail-nearby-properties .swiper-wrapper {
     width: 453.25px;
     margin-right: 30px;
}
/*property inner scroll*/
@media screen and (min-width: 1200px) {
    .detail-nav.detail-nav-map ul li {
        width: 25%;
    }
}
.detail-nav.detail-nav-map ul li a {
    text-transform: uppercase;
    font-family: 'latoregular' !important;
    color: #292f3d;
    font-size: 14px;
    font-weight: normal !important;
}
#Nearby {
    display: none;
}
.bottomMenu {
    display: none;
    /*position: fixed;*/
    z-index: 1000;
}
.bottomMenu .detail-nav.detail-nav-map {
    background-color: #fff;
    padding-top: 0 !important;
}
.bottomMenu .location-price-bar {
    padding: 18px 0;
}
.bottomMenu .categories-holder {
    border: none;
    display: inline-block;
    margin-left: 25px;
}
.bottomMenu .categories-holder li {
    color: #fff;
    display: inline;
}
.bottomMenu .red-btn-group {
    margin-top: 0;
    top: 0;
}
.bottomMenu .red-btn-group .inquire-btn a {
    padding: 19px 50px;
}
/*Lightbox*/
.single-properties div.pp_default .pp_close {
    display: none;
}
.single-properties div.pp_default .pp_nav .pp_play, .single-properties div.pp_default .pp_nav .pp_pause {
    display: none;
}
.single-properties .pp_gallery {
    display: block !important;
    right: 0;
    left: 80%;
    margin-top: 5px;
}
.single-properties #overlay, .single-properties div.pp_overlay {
    background-color: #252a37;
    opacity: 1 !important;
}
.single-properties div.pp_default .pp_nav .pp_arrow_previous, .single-properties div.pp_default .pp_nav .pp_arrow_next {
    display: none;
}
.single-properties a.pp_previous {
    background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;
    cursor: pointer;
}
.single-properties a.pp_next {
    background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;
    cursor: pointer;
}
.single-properties div.pp_default .pp_nav .currentTextHolder {
    left: 0;
    padding-left: 0;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    font-weight: normal !important;
    font-family: 'latoregular';
}
.single-properties a.pp_previous, .single-properties a.pp_next {
    height: auto;
    background: none;
    text-indent: unset;
    width: auto;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
}
.single-properties a.pp_previous:hover, .single-properties a.pp_next:hover {
    background: none !important;
    background-color: #eb222a !important;
}
.single-properties a.pp_previous i, .single-properties a.pp_next i {
    color: #000 !important;
    text-align: center;
    display: block;
    top: 35%;
    position: relative;
}
.single-properties a.pp_previous:hover i, .single-properties a.pp_next:hover i {
    color: #fff !important;
}
.single-properties .pp_hoverContainer1 {
    position: absolute;
    top: 50%;
    width: 100%;
}
.single-properties a.pp_next {
    right: 2%;
}
.single-properties a.pp_previous {
    left: -2%;
}
/*Search*/
.advanced-search {
    display: block;
    text-align: right;
}
.home .advanced-search {
    text-align: center;
}
.advanced-search a {
    background-color: #3c435a;
    padding: 15px 26px;
    color: #fff !important;
    font-family: 'latoregular';
    font-size: 15px;
    letter-spacing: 0;
    font-weight: normal;
}
.home .advanced-search a {
    background-color: #eb222a;
}
/*Property Listing*/
span.prop-listing-title {
    font-family: 'latomedium';
    font-size: 21px;
    letter-spacing: 0;
    color: #40485e;
    font-weight: normal;
}
span.prop-listing-number {
    font-family: 'latomedium';
    font-size: 21px;
    letter-spacing: 0;
    color: #96989f;
    font-weight: normal;
    margin-left: 10px;
}
.property-sorting-holder .user-location-filters li {
    margin-left: 0 !important;
}
.user-location-filters .icon-th-large {
    background-image: url("assets/images/grid2.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}
.user-location-filters .icon-th-large:hover {
    background-image: url("assets/images/grid2Hover.svg");
}
.user-location-filters .icon-th-large:before {
    color: transparent;
}
.user-location-filters .icon-th-list {
    background-image: url("assets/images/grid1.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}
.user-location-filters .icon-th-list:hover {
    background-image: url("assets/images/grid1Hover.svg");
}
.user-location-filters .icon-th-list:before {
    color: transparent;
}
.property-sorting-holder .years-select-box {
    width: 200px !important;
    border-left: solid 0.3px #979797;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0 !important;
}
.property-sorting-holder .years-select-box .chosen-single {
    border-radius: 3px;
    border: solid 1px #979797 !important;
    background-color: #ffffff !important;
    padding: 5px 10px !important;
}
.property-sorting-holder .chosen-container-single .chosen-drop {
    border-radius: 3px;
    border: solid 1px #979797 !important;
    background-color: #ffffff;
    padding: 5px 10px;
}
.property-sorting-holder .chosen-container-single .chosen-single span {
    color: #40485e !important;
    font-size: 16px;
    font-family: 'latomedium';
    letter-spacing: 0;
    font-weight: normal !important;
    text-transform: capitalize;
}
.property-sorting-holder .chosen-container-single .chosen-drop .chosen-results {
    color: #40485e !important;
    font-size: 16px;
    font-family: 'latomedium';
    letter-spacing: 0;
    font-weight: normal !important;
    text-transform: capitalize;
}
.property-sorting-holder .chosen-container-single .chosen-single div b:before {
    padding-top: 8px;
    color: #000000 !important;
}
.property-sorting-holder {
    border-bottom: none !important;
    padding: 0 !important;
}
.real-estate-property-content .property-row .property-medium {
    padding: 0;
}
.real-estate-property-content .property-row .property-medium .text-holder {
    padding: 40px;
}
.real-estate-property-content .property-row .property-medium .text-holder .post-title h4 a, .real-estate-property-content .property-row .property-grid .text-holder .post-title h4 a {
    font-family: 'latomedium' !important;
    font-size: 21px !important;
    letter-spacing: 0.66px !important;
    color: #4a4a4a !important;
}
.real-estate-property-content .property-grid .property-price, .real-estate-property-content .property-medium .property-price {
    width: auto !important;
}
.real-estate-property-content .property-medium .img-holder {
    width: 35%;
}
.real-estate-property-content .property-medium .text-holder {
    width: 65%;
}
.real-estate-property-content .property-medium ul.category-list, .real-estate-property-content .property-grid ul.category-list {
    margin-bottom: 50px;
    margin-top: 50px;
}
.real-estate-property-content .property-medium ul.category-list li, .real-estate-property-content .property-grid ul.category-list li {
    font-family: 'latomedium';
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    font-weight: normal;
}
.real-estate-property-content .property-medium ul.category-list li i, .real-estate-property-content .property-grid ul.category-list li i {
    color: #eb222a;
    font-size: 6px;
    margin-right: 10px;
}
.real-estate-property-content .property-medium .text-holder .property-price, .real-estate-property-content .property-grid .text-holder .property-price {
    color: #000 !important;
    font-family: 'latomedium';
    letter-spacing: 0;
    font-size: 18px;
    font-weight: normal;
    border-right: solid 0.5px #979797;
    padding-right: 15px;
    margin-right: 5px;
    line-height: 18px;
}
.real-estate-property-content .property-grid .text-holder .property-price {
    display: contents;
}
.real-estate-property-content .property-grid .text-holder ul.post-category-list {
    margin-top: 10px;
}
.real-estate-property-content .property-medium .text-holder ul.post-category-list li, .real-estate-property-content .property-grid .text-holder ul.post-category-list li {
    font-family: 'cabinmedium';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
    color: #4a4a4a;
    line-height: 18px;
}
.real-estate-property-content .property-medium .text-holder ul.post-category-list li i, .real-estate-property-content .property-grid .text-holder ul.post-category-list li i {
    color: #c7c7c7;
    line-height: 18px;
}
#showcase-prop-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #f9f9f9 19%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #f9f9f9 19%);
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #f9f9f9 19%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #f9f9f9 19%);
}
#showcase-prop-bg .element-title h2 {
    font-family: 'latomedium' !important;
    font-size: 23px !important;
    letter-spacing: 0;
}
.wp-rem-property-content ul.pagination {
    float: right;
    
}
.wp-rem-property-content ul.pagination li.active span, .wp-rem-property-content ul.pagination li span {
    border: none !important;
    background-color: transparent !important;
}
.wp-rem-property-content ul.pagination li.active span a, .wp-rem-property-content ul.pagination li:hover a {
    color: #4a4a4a;
    background-color: transparent !important;
}
.wp-rem-property-content ul.pagination li a {
    color: #c7c7c7;
    background-color: transparent !important;
    border: none !important;
    font-family: 'latomedium';
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: normal;
}
.wp-rem-property-content ul.pagination li a i {
    font-size: 18px;
}
.search-advanced-fields{
    background: #000;
}
.home .container-fluid{
    width: 100%;
    padding:0;
}
.search-default-fields-inner{
    margin: 0 auto !important;
    display: flex !important;
}
.search-advanced-field-inner {
    /* margin: 0 auto !important;
    display: inline-block !important; */
}
.field-holder{
    float: left;
    min-height: 60px;
}
.field-holder.field-range{
    /*padding: 10px 13px !important;*/
}
.main-search .search-input, .main-search .select-dropdown{
    border:0;
}
.checkbox input[type="checkbox"]:checked + label::before, .checkbox input[type="radio"]:checked + label::before{
    font-size: 22px !important;
    color: #ccc !important;
    line-height: 9px !important;
}
.main-search .checkbox label::before {
    width: 20px !important;
    height: 20px !important;
}
.checkbox label::before{
    border: 2px solid #ccc !important;
    border-radius: 10px !important;
    background-color: transparent !important;
}
.features-list .advance-trigger{
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    top: 50%;
    position: absolute;
    left: -9px;
}
.main-search .chosen-container-single .chosen-single span {

    font-size: 12px;
    font-weight: 500;
    color: #555;

}
.field-holder.select-dropdown.has-icon .chosen-container-single .chosen-single span {
    padding-left: 25px;
}
#wp_rem_property_currency_type_chosen span{
    padding-left: 0px;
}
.search-advanced-fields .select-categories li .form-control{
    position: absolute;
    left: 8px;
}
.main-search.fancy.v2 .slider.slider-horizontal {
    top: 2px;
}
.main-search.fancy.v2 .search-default-fields .search-btn::after{
    font-size: 40px;
}
.main-search.fancy.v2 .search-default-fields input[type="submit"]{
    color: transparent;
}
.search-advanced-fields .features-list{
    border-top: 1px solid #cccc;
    padding-top: 30px !important;
    margin-top: 25px !important;
}
.search-advanced-fields{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.btn-advanced-search{
    display: block;
    text-align: center;
    padding: 20px 0;
}
.btn-advanced-search a{
    background-color: #eb222a;
    color: #fff;
    padding: 20px;
}

/* multi select city start */
.city_repeat.field-holder{
    width: 33.333% !important;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
.city_repeat .city_label{
    position: absolute;
    left: 20px;
    padding-top: 10px;
}
.rpt_cities{
    margin-bottom: 0;
    margin-top: 29px;
}
.rpt_cities li{
    border-left: 1px solid #ccc;
    list-style: none;
    padding-left: 15px;
    padding-bottom: 20px;
    position: relative;
}
.rpt_cities li input{
    position: relative;
    top: -18px;
    height: 38px;
    border-radius: 3px;
}
.rpt_cities li:before{
    content: '___';
    padding: 10px;
    position: absolute;
    left: -10px;
    color: #ccc;
    top: -30px;
}
.rpt_cities li:last-child{
    padding-bottom: 0;
}
.rpt_cities_last{
    margin-top:0 ;
}
.rpt_cities_last li{
    border-left: 1px solid #ccc;
    list-style: none;
    padding-left: 15px;
    padding-bottom: 0;
    position: relative;
}
.rpt_cities_last li:before{
    content: '___';
    padding: 10px;
    position: absolute;
    left: -10px;
    color: #ccc;
    top: -3px;
}
.rpt_cities li a.remove{
    top: -14px;
    position: absolute;
    display: inline-block;
    padding: 0 5px;
    z-index: 10;
    color: #fff;
}
.rpt_cities_last li a.add{
    padding: 20px;
    top: 10px;
    position: relative;
    color: #fff;
}
.rpt_cities_last li a.add span{
    padding: 2px 7px;
    border: 2px solid #fff;
    border-radius: 19px;
}
.rpt_cities .wp_rem_location_autocomplete{
    top: 20px!important;
}
/* multi select city end */
.search_popup_open{
    margin-top: 0 !important;
    position: fixed !important;
    top: 0;
    background: #000;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 500 !important;
}

.main-search.fancy.v2 .tab-content{
    padding-top: 0 ;
}
.search_popup_open .tab-content{
    padding-top: 100px !important;
}
.home .main-search.fancy.v2 .nav-tabs{
    top: 20px;
}
.search_popup_open .nav-tabs {
    top: 100px !important;
}
.body_fixed{
    overflow: hidden;
}
.search_popup_open .btn_close_popup{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 99;
    color: #fff;
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
}


.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
    margin-right: -4px;
}

.nav-tabs {
    text-align:center;
}
.search-advanced-fields .field-holder.field-range{
    padding: 10px 15px !important;
}
.search-default-fields-inner .select-dropdown.property-type.checkbox{
    width: auto !important;
    min-width: 210px !important;
}
.search-default-fields-inner .rang-text{
    width: 260px !important;
}
.search-default-fields-inner .location-field-text{
    padding-right: 15px !important;
}
.search-advanced-fields{
    margin: 0 auto !important;
}
/* FONT customise for AWS Start */
body{
    font-family: 'latomedium' !important;
}
.primary-menu a{
    font-family: 'latomedium' !important;
}
.element-title h2{
    font-family: 'latosemibold' !important;
}
/* FONT customise for AWS End */
.main-header .currency-dropdown{
    display: inline-block;
}